.display__title{
  text-align: center;
  padding: 50px 0;
  text-transform: capitalize;
  font-size: 1.6rem;
  text-shadow: 2px 2px black;
}

.display__notFound{
  text-align: center;
  padding-top: 6rem;
}

.display{
  /* padding:119px 16px 20px 16px; */
  padding:20px 16px ;
}

.dataBox{
  max-width: 600px;
  margin: 0 auto;
}

.dataBox__info{
  display: flex;
  background: #262732;
  align-items: center;
  justify-content: space-between;
}

.dataBox__info p{
  padding: 0 20px;
}


.dataBox:not(:last-child){
  margin-bottom: 6px;
}

.dataBox__iconBox{
  cursor: pointer;
  background: #1A1B23;
  padding: 30px;
}

.dataBox__moreInfo{
  display: none;
  grid-template-columns: repeat(2, 50%);
  background: #3F404B;
  padding: 20px;
  display: none;
}

.dataBox__moreInfo p{
  padding: 10px 0;
}

.dataBox__moreInfo.show{
  display: grid;
}

.dataBox__arrow.flip{
  transform: rotate(180deg);
  animation: flip .4s ease-in 1;
}

.dataBox__iconBox:hover > .dataBox__arrow.unflip{
  animation: down .6s ease;
}

@keyframes flip {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(180deg);
  }
}

@keyframes down {
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(6px);
  }
  100%{
    transform: translateY(0px);
  }
}
