.search{
  z-index: 7;
  background: #262732;
  /* height: calc(100vh - 119px); */
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.search__content{
  height: 100%;
  width: 100%;
}

.search__content form{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.pop{
  color: rgb(201, 73, 73);
  z-index: 2;
  top: 60%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search__input{
  background: transparent;
  width: 300px;
  border: none;
  outline: none;
  font-size: 1rem;
  border-bottom: 1px solid #fff;
  padding: 10px 0;
  color: #fff;
}


::placeholder{
  color: rgba(255, 255, 255, 0.199);
}

/* -----------------display---------------- */
.search.hide{
  transition:bottom 1s ;
  bottom:1100%;
}

.search.hide input{
  display:none;
}