.title{
  z-index: 10;
  font-size: 1.6rem;
  text-align: center;
  background: #262732;
  position: relative;
  padding: 40px;
}

.title__icon{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 60px;
  height: 20px;
  cursor: pointer;
}

.title__icon.hide{
  display: none;
}

