.title{
  z-index: 10;
  font-size: 1.6rem;
  text-align: center;
  background: #262732;
  position: relative;
  padding: 20px;
}

.title__icon{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 60px;
  height: 20px;
  cursor: pointer;
  z-index:10;
}

.title__icon.hide{
  display: none;
}
@media (max-width:375px){
  .title{
    font-size:1rem;
  }

  .title__icon{
    right: 10px;
  }
}