*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow-y:scroll;
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)) , 
  url("./bg.png") center/cover fixed no-repeat;
  color: #fff;
  font-size: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}